.flexContainer{
	display: flex;
	flex-wrap: wrap;
}

.character-item{
	width: 100%;
	padding: 8px;
	display: flex;
	flex-direction: column;
	align-items: center;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(252,252,252,1);
	-moz-box-shadow: 10px 10px 5px 0px rgba(252,252,252,1);
	box-shadow: 10px 10px 5px 0px rgba(252,252,252,1);
}

@media screen and (min-width: 600px){
	.character-item{
		width: 50%;
	}
}

@media screen and (min-width: 900px){
	.character-item{
		width: calc(100% / 3);
	}
}

@media screen and (min-width: 1200px){
	.character-item{
		width: calc(100% / 4);
	}
}

@media screen and (min-width: 1600px){
	.character-item{
		width: calc(100% / 6);
	}
}

.character-detail:last-child{
	margin-bottom: 0;
}

img{
	width: 100%;
	max-width: 100%;
}
